<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PathFile" value="C:\Users\u607827\OneDrive - Telecom Argentina SA\GoodNotes\Segundo Cuatrimestre\Trabajo de Diploma\ProyectoDistribuidora\Logs"/>
    <add key="PathImagenes" value="d:\Imagenes\"/>
    <add key="FormatterLog" value ="yyyyMMdd.log"/>
    <add key="Backend" value= "SqlServer"/>
    <add key="BackendSL" value = "SqlServer"/>
    <add key="IdiomaPathName" value="idioma." />
    <add key="FolderIdiomaPath" value="I18n" />
  </appSettings>
  <connectionStrings>
    <add name="MainConString" connectionString="Data Source=T0003541166\SQLEXPRESS;Initial Catalog=Distribuidora los amigos;Integrated Security=True"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>